//自定义变量
$flex: flex;
$cen: center;
$auto: auto;
$none: none;
$nom: normal;
$opa: transparent;


// font size
$fs  : 16px;   //default
$fs0 : 10px;
$fs1 : 12px;
$fs2 : 14px;
$fs3 : 18px;
$fs4 : 21px;
$fs5 : 24px;
$fs6 : 30px;
$fs7 : 36px;
$fs8 : 48px;
$fs9 : 60px;
$fs10: 72px;


// font family
$fm: 'Arial, Helvetica, sans-serif';   //default


// width
$width: 100%;
$wid0 : 96%;
$wid1 : 94%;
$wid2 : 90%;
$wid3 : 50%;
$wid4 : 49%;
$wid5 : 48%;
$wid6 : 32%;
$wid7 : 30%;
$wid8 : 25%;
$wid9 : 24%;
$wid10: 20%;
$wid11: 19%;
$wid12: 15%;
$wid13: 12%;
$wid14: 10%;  


$wt: #fff;
$bk: #000;

//橙色
$og1: #ff6000;
$og2: #ff6a00;
$og3: #dd852a;

//蓝色
$bu1: #006dad;
$bu2: #00acee;

//灰色
$clr1: #222222;
$clr2: #242424;
$clr3: #303235;
$clr4: #333333;
$clr5: #474747;
$clr6: #515151;
$clr7: #747577;
$clr8: #999999;
$clr9: #e9e9e9;
$clr10: #f8f3f9;
$clr11: #fafbfc;
